html{
	background-color: grey;
}
body {
	background-color: white;
	border: 10px solid black;
	box-shadow: 10px 10px 10px #202020;
	border-radius: 10px;
	position: fixed;
	width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
}
#Text{
    text-align: center;
    height: 50px;
    width: 650px;
	position: fixed; 
	top: 1%;
	left: 50%;
	margin-left: -325px;
	color: white;
	text-shadow: 2px 2px 2px #202020;
}
#Text h1
{
    font-weight: 800;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: #44c8c8;
}
#Main {
    background-image: url('../Images/Compass.png');
    height: 88%;
    width: 82%;
    background-repeat: no-repeat;
    position: relative;
    left: 2%;
    top: 25px;
    margin-left: 40px;
}

#ImageDiv {
    background-image: url('../Images/Cross.png');
    height: 24px;
    width: 24px;
    position: relative;
    min-width: 1em;
}

#ImageBorder {
    position: absolute;
    left: 45%;
    top: 45%;
    height: 38%;
    width: 40%;
}

#Remarks
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: -35px;
}