body {
    background-color: lightblue;
}

#Hding{
	text-align: center;
	color: rgb(100,100,0);
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid black;
	width:1250px;
	height:75px;	
	float: left;

}
#First{
	text-align: center;
	vertical-align: middle;
	border:1px solid black;	
	float:left;
	width: 250px;
	height: 250px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 200px;
	background-image: url();
}

#Second{
	text-align: center;
	vertical-align: middle;
	border:1px solid black;
	float:left;
	width: 250px;
	height: 250px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 80px;
	background-image: url();
}
#Third{
	text-align: center;
	vertical-align: middle;
	border:1px solid black;	
	float:left;
	width: 250px;
	height: 250px;
	padding-top: 10px;
	margin-top: 10px;
	margin-right: 200px;	
	background-image: url();
}
#Fourth{
	text-align: center;
	vertical-align: middle;
	border:1px solid black;
	float: left;
	width: 250px;
	height: 250px;
	padding-top: 10px;
	margin-top: 30px;
	margin-left: 320px;
	margin-right: 120px;	
	background-image: url();
}
#Fifth{
	text-align: center;
	vertical-align: middle;
	border:1px solid black;
	float: left;
	width: 250px;
	height: 250px;
	padding-top: 10px;
	margin-top: 30px;
	
	background-image: url();
}
.navigation{
transition: 0.5s;
}

.navigation{
text-decoration:none;
color: #a22;
font-weight:bold;
}

.navigation:hover{
background:#b39;
border-bottom:#eee;
color:#edd;
text-decoration:underline;
}