body 
{
    max-width: 1200px;
    margin: 0 auto; 
    background: linear-gradient(#988C90, #000000);
}

/*Header CSS*/
header,nav,footer
{
	display:block;
}

header
{
	float: left;
	width: 100%;
	height: 30%;	
	color: rgb(100,100,0);
	border: 2px solid black;
	border-radius: 0px 10px;
	box-shadow: 5px 5px 10px;
}

header h1
{
	float: left;
	color: #AAD5FE;
	text-align: left;
	padding: 2% 2%; 
	text-shadow: 5px 10px 10px black; 
}

/*Header Tabs CSS*/
.TabList
{
	margin: 0px; 
	padding: 0px; 
	overflow: hidden; 
	background: none;
	list-style-type: none;
}

.TabList li
{
	float: right; 
}

.TabList li a 
{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.TabList li.ExpandIcon 
{
	display: none;
}

@media screen and (max-width:680px) 
{
  .TabList li:not(:first-child) 
  {
  	display: none;
  }
  .TabList li.ExpandIcon 
  {
    float: right;
    display: inline-block;
 }
}
@media screen and (max-width:680px) 
{
  .TabList.responsive
  {
  	position: relative;
  }
  TabList.responsive li.ExpandIcon
  {
  	position: absolute;
  	right: 0;
  	top: 0;
  }
  .Tablist.responsive li
  {
  	float: none; 
  	display: inline; 
  }
  .Tablist.responsive li a
  {
  	display:block; 
  	text-align: left;
  }
}

/*Footer CSS*/
footer 
{
	float: left;
	width: 100%;
	height: 30%;
	color: rgb(100,100,0);
	border: 2px solid black;
	border-radius: 10px 0px;
	box-shadow: 5px 5px 10px;
}

footer address
{
	text-align:center;
	font-size: 12px;
	color: #efefef;
	padding: 1% 0;
	text-shadow: 1px 1px 0px; 
}

/*Main Body CSS*/
#CFirst, #CSecond, #CThird
{
	margin: 6% 5%;
	text-align: center;
	border:1px solid #8C3050;	
	float:left;
	width: 22%;
	height: 250px;
	padding-top: 10px;
	box-shadow: 4px 4px 8px;
	border-radius: 10px;
}

#CFirst
{
}
#CSecond
{
	background-image: url();
}
#CThird
{
}

.MainDiv
{
	margin : 0% 2.5%;
	float: left;
	width: 95%;
	height: 700px;
	border: 2px solid black;
	background: linear-gradient(to bottom right, #9DC2B3, #021E29);
}

.MainDiv table
{
	width: 100%;
	height: 100%;
}

.navigation
{
	transition: 0.5s;
	text-decoration:none;
	color: #a22;
	font-weight:bold;
}

.navigation:hover
{
	background:#b99;
	border-bottom:#eee;
	color:#edd;
	text-decoration:underline;
}
