body{
	background-color:#708090;
}
form{
	margin-top : 10%;
	

}
form table{
	border:1px solid black;
	height: 50px;
	padding:10%;
	
}

table table{
	border:none;
	margin-bottom: 20%;
	box-shadow: none;

}
input[type=text] ,input[type=password]{
    width: 100%;
    border-radius: 5px;

}
input[type=text]:focus ,input[type=password]:focus{
    width: 100%;
    background-color: rgb(0,100,10);
}

input[type=submit], input[type=button]{
	border:2px solid black;
	border-radius: 5px;
	height: 45px;
	width:80px;
	padding:2px;
	margin:1px;
	font-family: Verdana, Geneva, sans-serif;
}

input[type=submit]
{
	opacity: 0.6;
	cursor: not-allowed;
 
}
input[type=submit]:hover, input[type=button]:hover{
	background-color: rgb(10,100,100);
}