/*BackGround CSS*/
.VideoBack
{
  position: fixed;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	width: auto; 
	height: auto; 
	z-index: -1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background:url('../Images/MovBack1.png' no-repeat;
	background-size:cover;
}

@media screen and (max-width: 767px)
{
	html
	{
		background: url('../Images/MovBack1.png') center center/ cover no-repeat;
	}
	.VideoBack
	{
		display: none;
	}
}

/*Main Body CSS*/
.CompDiv
{
	width: 100%;
	height: 900px;
	float: left;
	margin-top: 50px;
}

/*Side Navigation*/
.CompDiv .SNav
{
	float: left;
	height: inherit;
	width: 10%;
	max-width: 100%; 
	transition: all ease 0.5s;
}
.CompDiv .SNav:hover
{
	width: 20%;
	transition: all ease 0.5s;

}
.CompDiv .SNav ul
{
	margin-top: 20px;
	width: inherit;
	text-align:center; 
	font-family: "Georgia";
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 1px 1px 1px;
}

.CompDiv .SNav ul li
{
	margin-top: 10px;
	padding-top: 10px;
}

.CompDiv .SNav ul li:hover, .CompDiv .SNav ul li:active
{
	background-color: black;
}

/*Question Section*/
.CompDiv .QDiv
{ 
	margin-top: 100px;
	margin-left: 17.5%;
	height: 500px;
	width: 75%;
	background: linear-gradient(to bottom right, yellow, green);
	z-index: 1;
}

@media (max-width:1190px)
{
	.CompDiv .SNav
	{
        display:none;
	}
	.CompDiv .RestDiv
	{
		margin-left: 0%;
		width: 100%;
	}
}

