/*Main Body CSS*/
.CompDiv
{
	width: 100%;
	height: 900px;
	float: left;
	margin-top: 50px;
	background: linear-gradient(to bottom right, black, purple);
}

/*Side Navigation*/
.CompDiv .SNav
{
	float: left;
	height: 890px;
	width: 10%;
	max-width: 100%;
	background-color: white; 
	transition: all ease 0.5s;
}
.CompDiv .SNav:hover
{
	width: 20%;
	transition: all ease 0.5s;

}
.CompDiv .SNav ul
{
	margin-top: 20px;
	width: inherit;
	text-align:center; 
	font-family: "Courier New";
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 1px 1px 1px;
}

.CompDiv .SNav ul li
{
	margin-top: 10px;
	padding-top: 10px;
}

.CompDiv .SNav ul li:hover
{
	background-color: black;
}

/*Question Section*/
.CompDiv .QDiv
{ 
	margin-left: 17.5%; 
  	margin-top: 100px;
	height: 500px;
	width: 75%;
	background: linear-gradient(to bottom right, yellow, green);
}

@media (max-width:1190px)
{
	.CompDiv .SNav
	{
        display:none;
	}
	.CompDiv .QDiv
	{
		margin-left: 10%;
		width: 80%;
	}
}

