html
{
	position: relative; 
	min-height: 100%; 
}
body
{
	margin: 0 0 100px;
}

/*Header CSS*/
nav
{
		font-family: "Verdana", "Helvetica Neue";
	  	text-transform: uppercase;
	  	font-weight: 500;
	  	border: none;
		box-shadow: 5px 5px 10px #202020;
}

/*Footer CSS*/
footer 
{
		position: absolute;
		left: 0;
    	bottom: 0;
		width: 100%;
		height: 70px;
		color: rgb(100,100,0);
		box-shadow: 5px 5px 10px #202020;
    	background-color: #233140;
}

footer address
{
		text-align:center;
		font-size: 12px;
		color: #efefef;
		padding: 1% 0;
}

/*Main Body CSS*/
.CompDiv
{
		width: 100%;
		height: 790px;
		float: left;
		margin-top: 50px;
		border: 10px solid black;
		background-color: red;
}
.CompDiv .SNav
{
	float: left;
	height: 770px;
	width: 20%;
	background-color: white; 
	border: 10px solid black;
}
.CompDiv .QDiv
{ 
	float: left;
	height: 770px;
	width: 80%;
	border: 10px solid black;
	background-color: blue;
}
